body {
    background-color: #121212;
    color: #ffffff;
}

header {
    background: url('../../assets/images/background2.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.custom-input-width {
    max-width: 500px;
  }

input::placeholder {
    color: #6c757d;
}

/* #results {
    display: none;
} */